:root{
    --yellow: #FFC947;
    --darker-yellow: #FFB830;
    --light-yellow: #ffe3a0;
    --dark-blue: #0A1931;
    --light-blue: #185ADB;
    --grey: #EFEFEF;
    --darker-grey: #d8d8d8;
    --grey-blue: #cecbfe;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
    color: var(--title-color);
}

h1, h2, h3, h4, h5{
    font-family: 'Ubuntu', sans-serif;
    color: var(--title-color);
}

body{
    background: #f0f0f5;
    -webkit-font-smoothing: antialised;
}

button {
    width: 100%; 
    border: none;
    background: var(--yellow);
    color: #fff;
    border-radius: 5px;
    margin: 40px 0;
    font-size: 15px;
    padding: 10px;
    transition: 400ms;
}

button:hover{
    background: var(--darker-yellow);
}


