{% if events_total > 0 %}
    <div class="events">
    {% for event in events %}
        <div id={{ event.id }} class="event-box">
            <div class="event-date">
                <h1>{{ (event.date).split("-")[2] }}</h1>
                <h3 id="month">{{ (event.date).split("-")[1] }}</h3>
                <h4>{{ (event.date).split("-")[0] }}</h4>
            </div>

            <div class="event-info">
                <h2>
                    {{ event.description }}
                </h2>
                <h3 id="event-hour">
                    {{ event.initial_hour }} – {{ event.final_hour }}
                </h3>
            </div>
        </div>
    {% endfor %}
    </div>
{% endif %}
