<div id="modal" class="hide">
    <div class="content">
        <div class="header">
            <h1>Event data</h1>
            <a href="#">Close</a>
        </div>
    
            <div class="event-fields">
                <label for="">Description</label>
                <input id="event-description" type="text" name="description">

                <label for="">Date</label>
                <input id="event-date" type="date" name="date">

                <label for="">Initial hour</label>
                <input id="event-initial-hour" type="time" name="initial_hour">

                <label for="">Final hour</label>
                <input id="event-final-hour" type="time" name="final_hour">
            </div>

            <button id="modal-button-save">Salvar</button>
            <button id="modal-button-delete">Delete</button>
    </div>
</div>

